.cart {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./media/authbg.jpg");
  background-position: center;
  background-size: cover;
  height: 600px;
}

.cart-content {
  grid-column: 2/-2;
  .cart-wrapper {
    margin: 4em 0;
    padding: 2em;
    border-radius: 8px;
    background-color: white;
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 3rem;
    justify-content: space-between;
    align-items: start;
  }
  .cart-list,
  .cart-total {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 2em;
    h1 {
      color: #7e7e7e;
      text-align: center;
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  .cart-list {
    min-height: 300px;
  }
  .cart-total {
    span {
      color: #d23e3e;
    }
    p {
      margin-bottom: 0.8rem;
    }
    button {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      background-color: #a4becd;
      font-size: 1rem;

      &:hover {
        background-color: darken(#a4becd, 10);
      }
      &:active {
        background-color: darken(#a4becd, 30);
      }
    }
  }
  .item-wrapper {
    max-height: 200;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    .item-price {
      color: #d23e3e;
    }
  }
  .empty-cart {
    color: #d23e3e;
    text-align: center;
    border: 0.5px dashed #d23e3e;
    padding: 1.5rem;
    margin: 2rem 1rem;
  }
}
